header, div.footer-bottom {
    height: 100px;
    background-color:#2C3E50;
}

.clickable {
    cursor: pointer;
}

.bg-green {
    background-color: #1ABC9C;
}

.bg-white {
    background-color: #fff;
}

.footer-top.bg-blue {
    background-color: #3A546D;
}